*{
    margin: 0;
    padding: 0;
}


.login{
    text-align: center;
    position: relative;
    margin-top: 250px;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}

button{
    width: 100px;
    height: 40px;
    background-color: #0A66C2;
    border-color: #0A66C2;
    color: white;
    font-weight: bold;
}

