@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
 /* Inicio do cabeçalho */
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 50px;
    color: #0A66C2;
}
i#burguer{
    color: #0a66c2;
    display: block;
    text-align: left;
    cursor: pointer;
    border-style: solid;
    margin-left: 20px;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    border-width: 5px;
}
.perfil{
    cursor: pointer;

}
a{
    color: white;
}
menu{
    display:none;
    margin-left: -40px;
    color:  #0a66c2;
}
ul{
    background-color: #0A66C2;
    height: 55px;
    display: flex;
    flex-direction: column-reverse;
}
input
{
    display: grid;
    margin-left: 10%;
    border: 2px;
    border-radius: 25px;
    border-style: solid;
    border-color: #0A66C2;
    background-color: white;
    height: 35px;
    width: 350px;
    padding-left: 10px;
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
    text-align: center;
    cursor:pointer;
}

.botao1{
    width: 150px;
    height: 30px;
    background-color: #0A66C2;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    border-style: none;
    border-radius: 30px;
    float: left;
    margin-left: 20px;
}
.botao2{
    width: 160px;
    height: 30px;
    background-color: #0A66C2;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    border-style: none;
    border-radius: 30px;
    float: left;
    
}
header{
    display:flex;
    height: 100px;
    margin-top: 10px;
    flex-direction: row;
    text-align: center;
    justify-content:space-evenly;
    align-items: center;
    gap: 20px;
}
#itens{
   margin-top: 150px;
   margin-left: -100px;
   border: solid black 2px;
}
.voltar{
    margin-left: -110px;
}
@media screen and (max-width:900px){
    .botao1, .botao2{
        width: 65px;
        height: 25px;
        font-weight: 500;
        font-size: 10px;
    } 
}
@media screen and (max-width:675px) {
    .botao1, .botao2{
        display: none;
    }
}
@media screen and (max-width:570px) {
    input{
        width: 200px;
        margin-left: 15%;
    }
    .botao1, .botao2{
        display: none;
    }
}
@media screen and (max-width: 376px) {
    .perfil{
        display: none;
    }
    header{
        gap: 0px;
         justify-content: center;
    }
    input{
        margin-left: 5px;
       
    }
} 
/* fim do cabeçalho */
.imgum{
    text-align: center;
    display: block;
}

main{
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    
}
.principal{
    text-align: center;
    background-color: black;
    background-image: url(img/fundo.png);
    margin-top: -20px;
}
p, b, ol, h2{
    text-align: justify;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
b{
    color: #0A66C2;
}
.botao3{
    width: 200px;
    height: 30px;
    background-color: green;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    border-style: none;
    border-radius: 30px;
    float: left;
    margin-left: 20%;
    position: absolute;
    cursor: pointer;

}

/* inicio rodapé */
footer{
    
    display:flex;
    background-color: #0A66C2;
    size: 10px;
    height: 100px;
    margin-top: 150px;
    flex-direction: row;
    text-align: center;
    justify-content:space-evenly;
    align-items: center;
    gap: 20px;
}
.rodapé{
    margin-left: 10px;
}
@media screen and (max-width:480px) {
    .rodapé{
        font-weight:300;
    }
    
}
/* Fim rodapé */